.snackbar {
  position: relative;
  height: 56px;
  width: 300px;
  max-width: 300px;
  padding: 0.5rem;
  color: #2c3a41;
  background-color: #eee;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  box-shadow: 0.2rem 0.2rem 0.35rem rgba(0, 0, 0, 0.3);
}

.snackbar-progress {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  border: none;
}

progress,
progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background: #405061;
}
